<html>
<body>
{% block header %}
    <h1>
        第一个 Koa 项目
    </h1>
{% endblock %}
{% block body %}
    <div>No body</div>
{% endblock %}
{% block footer %}
    <div>copyright 2018</div>
{% endblock %}
</body>
